/* Reset and General */

/* PER SBAGLIO HO FATTO TUTTO IL LAYOUT CON CHROME CHE ERA ZOOMMATO AL 67%. HO SCOPERTO CHE C'è LA PROPRIETà ZOOM PER RIMEDIARE A QUESTO SENZA DOVER MANUALMENTE ANDARE A CAMBIARE TUTTE LE DIMENSIONI. HO LETTO PERò CHE NON FUNZIONA CON FIREFOX E NON HO TROVATO UN ALTRO MODO PER OVVIARE A QUESTO PROBLEMA. */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li:first-child{
  padding-left: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  zoom: .67;
  /* transform: scale(0.67);
  transform-origin: top left; */
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

ul{
  display: flex;
  list-style: none;
}

ul li {
  padding: 0 10px;
}

ul li a{
  text-decoration: none;
  color: white;
}

h4{
  text-transform: uppercase;
}


 /* Header  and Navbar*/


header{
  height: 150px;
  background-color: #ff6900;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

header .container{
  padding: 15px 0;
}

.logo{
  width: 270px;
  vertical-align: middle;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  align-items: center;
}

/* Cards */

.row.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  margin-top: 150px;
  padding: 80px 0;
  display: inline-block;
  height: 1168px;
  width: 640px;
}

.discount, .sostenibilità{
  background-color: red;
  color: white;
  padding: 5px 15px;
  position: absolute;
  font-size: 1.2rem;
  bottom: 45px;
}

.discount{
  left: 0;
}

.sostenibilità{
  background-color: green;
  left: 80px;
}

.sostenibilità.no-discount{
  left: 0;
}

.card-image{
  position: relative;
  display: inline-block;
}

.heart-container{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3rem;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 0;
  width: 80px;
  height: 80px;
}

.heart-container:hover{
  color: red;
  cursor: pointer;
}

.heart{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p{
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.card h4{
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.discounted-price{
  color: red;
  font-weight: 600;
  font-size: 1.2rem;
}

.discounted-price::after{
  content: '29,99 €';
  color: black;
  margin-left: 10px;
  text-decoration: line-through;
}

.discounted-price.price-3::after{
  content: '184,99 €';
}
.discounted-price.price-5::after, .discounted-price.price-6::after{
  content: '';
}


.hover-img{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.card-image:hover .hover-img{
  display: block;
}

/* Footer */

footer{
  background-color: #1a1a1a;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
}

.info h5{
  margin-bottom: 10px;
}

.info ul li{
  font-size: 1.2rem;
}

.social p{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.social i{
  margin-right: 5px;
}